.chart-wrapper {
    max-width: 800px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .chart-wrapper {
        flex-direction: column;
    }
}
    