.spotify-login-button {
    background-color: #1DB954;
    border: none;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.spotify-login-button:hover {
    background-color: #191414;
}
.catjam {
    max-width: 300px;
}
.container {
    max-width: 800px;
    background-color: #191414;
    padding: 20px;
    margin: auto;
    font-family: Gotham, sans-serif;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    margin: 0 10px;
    padding: 10px;
}

.tab.active {
    border-bottom: 3px solid #1DB954;
}

.content {
    display: flex;
    flex-wrap: wrap;
}

.artists,
.albums,
.tracks {
    width: 100%;
}

.hidden {
    display: none;
}

.title-box {
    font-family: Gotham, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 0px;
    color: white
}

.subtitle {
    font-size: 16px;
    font-weight: normal;
    color: #999;
    margin-bottom: 15px;
}

@media (max-width: 768px) {
    .title {
        font-size: 20px;
    }

    .subtitle {
        font-size: 12px;
    }
}