/* Import Gotham Circular font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Gotham+Circular:wght@300;400;500;600&display=swap');

/* Set up some base styles */
.last-tracks-main-title {
    color: #b3b3b3;
    font-weight: 600;
    font-size: 28px;
}

.last-tracks-container {
    font-family: 'Gotham Circular', sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #191414;
}

.last-tracks-container a {
    text-decoration: none;
}

.last-tracks-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.last-track-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    border: 1px solid #282828;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
    padding: 10px;
    background-color: #282828;
}

.last-track-details {
    display: flex;
    align-items: center;
    flex: 1;
}

.last-track-thumbnail {
    width: 80px;
    height: 80px;
    margin-right: 20px;
}

.last-track-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.last-track-info {
    flex: 1;
}

.last-track-title {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
    color: #1db954;
}

.last-track-artist {
    margin: 0;
    font-size: 16px;
    color: #b3b3b3;
}

.last-track-play {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.last-track-play a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #1db954;
    transition: all 0.3s ease;
    border: 2px solid #1db954;
    border-radius: 50%;
    padding: 10px;
}

.last-track-play a:hover {
    color: #fff;
    background-color: #1db954;
    text-decoration: none;
    border-color: #fff;
}

.fa-play {
    font-size: 20px;
    color: #1db954;
}