<div *ngIf="mode=='artists' && ready==true" class="grid-container">
    <div *ngFor="let thing of topThingsData.items" class="grid-item">
        <img [src]="thing.images[0].url" alt="{{ thing.name }}" class="grid-item-image">
        <div class="grid-item-caption">{{ thing.name }}</div>
    </div>
</div>

<div *ngIf="mode=='songs' && ready==true" class="grid-container">
    <div *ngFor="let thing of topThingsData.items" class="grid-item">
        <img [src]="thing.album.images[0].url" alt="{{ thing.name }}" class="grid-item-image">
        <div class="grid-item-caption">{{ thing.name }}</div>
    </div>
</div>

<div *ngIf="mode=='albums' && ready==true" class="grid-container">
    <div *ngFor="let thing of topThingsData.items" class="grid-item">
        <img [src]="thing.album.images[0].url" alt="{{ thing.album.name }}" class="grid-item-image">
        <div class="grid-item-caption">{{ thing.album.name }}</div>
    </div>
</div>

